<?xml version="1.0"?>
<config>
    <modules>
        <Help_Faq>
            <version>1.0.0</version>
        </Help_Faq>
    </modules>
    <global>
        <resources>
            <helpfaq_setup>
                <setup>
                    <module>Help_Faq</module>
                </setup>
            </helpfaq_setup>
        </resources>
    </global>
    <admin>

    </admin>
    <frontend>

    </frontend>
    <default>

    </default>
</config>